<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2W0Z918Q39"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2W0Z918Q39');
    </script>
    {% block head %}{% endblock %}
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="description" content="Anonymous Source Tracker: Examples of how major English-language news organizations use anonymous sources. Updated daily." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">

    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>

</head>
<body>
    <div class="jumbotron">
        <div class="container">
        {% block masthead %}{% endblock %}
        {% block content %}{% endblock %}
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% for entry in entries %}
                <b><a href="{{ entry.link }}">{{ entry.title|safe}}</a></b>
                <hr>
                {{ entry.content|clean_content|safe }}
                <br><br>
                    <div class="timestamp">{{ entry.name|safe }}&nbsp;&nbsp;&#x2219;&nbsp;&nbsp;{{ entry.date_published | datetimeformat | safe }}</div>
                <br>
                <br>
                {% endfor %}
                <div align="right">{{ pagination.links }}</div>
            </div>
            <div class="col-sm-4">
                <h3>Media tracked</h3>
                <ul>
                {% for outlet in outlets %}
                <li><a href="{{ url_for('outlet', outlet_name='%s' % (outlet.name|plus_for_spaces)) }}">{{ outlet.name|safe }}</a></li>
                {% endfor %}
                </ul>
                <br>
                <p><h3>Caution</h3>
                    <ul>
                        <li>The tracker searches for phrases commonly used by writers to identify anonymous sources. It misses anonymously sourced stories that do not use those phrases.</li>
                        <li>Sometimes writers use those phrases in stories that are not anonymously sourced.</li>
                        <li>The same anonymously sourced story may appear on multiple news sites.</li>
                        <li>The same story may be included multiple times if the URL changes.</li>
                    </ul>
                </p>
            </div>
        </div><!-- row -->
    </div> <!-- container -->
</body>
</html>

